* {
    box-sizing: border-box;
 
}

img{
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    background-color: #FEFBF6;
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h1,
h2,
h3{
    font-family: "Montserrat", sans-serif;
}

header{
    height: 300px;
    display: flex;
    flex-direction: column;
}
header .site-info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B67352
}
header .site-info * {
    margin-bottom:  1rem;
}

header .navbar {
    background-color: #8CB9BD;
    display: flex;
}

header .navbar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

header .navbar a:hover {
    background-color: #B67352;
}

.main {
    display: flex;
}

.main .sidebar {
    width: 30%;
    color: #fff;
    padding: 1.5rem 1rem;
    background-color: #B67352;

}

.main .sidebar section{
    margin-bottom: 1rem;
}

.main .sidebar section * {
    margin-bottom: 1rem;
}

.main .main-content {
    width: 70%;
    padding: 1.5rem 1rem;
}

.main .main-content article{
    margin-bottom: 1rem;
}

.main .main-content article h2 {
    color: #B67352;
    font-weight: 900;
    margin-bottom: 1rem;
}

.main .main-content article h5 {
    color: #8CB9BD;
    margin-bottom: 0.5rem;
}

.main .main-content article p {
    color: #000;
    text-align: justify;
    margin-bottom: 1rem;
}

.main .main-content article img {
    max-width: 200px;
    padding: 1rem;
    float: left;
}

footer p {
    color: #B67352;
    text-align: center;
    border-top: 1px solid #B67352;
    margin-top: 1rem;
    padding: 1rem 0;
}

